[Unit]
Description=Run Amnezia VPN traffic collector every second

[Timer]
OnBootSec=1s
OnUnitActiveSec=1s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
