[Unit]
Description=Run Amnezia VPN traffic collector every 10 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=2s
Persistent=true

[Install]
WantedBy=timers.target
